<div class="well">
  <% @site_item ||= SiteItem.new %>
  <%= simple_form_for(@site_item) do |f| %>
      <%= f.input :site_url, placeholder: "网址链接：(直接拖曳到这里)" %>
      <%= f.input :tag_list, :placeholder => "给收藏分类" %>
      <%= f.button :submit, "快速收藏", class: 'btn btn-success' %>
  <% end %>
</div>
