<table class="table table-striped table-hover">
  <% @site_items.each do |site_item| %>
    <tr><%= render :partial => "site_items/show", :locals => {:site_item => site_item} %></tr>
  <% end %>
</table>

<%= will_paginate @site_items %>
