
<a href="javascript:void((function(d){var e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','//www.quotered.com/assets/scriptlet/quoteredlet.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));">+雨+</a>

<br>

<a href="javascript:void((function(d){var e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','/assets/ext/chrome.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));">+雨+</a>