<table class="table table-striped">
	<tr>
	<td><span class="friend-link"><a href="http://www.inruby.com/" target="_blank">红宝石</a></span></td>
	<td><span class="friend-link"><a href="http://www.juzimi.com" target="_blank">句子迷</a></span></td>
	<td><span class="friend-link"><a href="http://meiriyiwen.com/" target="_blank">每日一文</a></span></td>
	<td><span class="friend-link"><a href="http://5diary.com/" target="_blank">吾志</a></span></td>
	<td><span class="friend-link"><a href="http://mifan.us/" target="_blank">米饭</a></span></td>
	<td><span class="friend-link"><a href="http://www.manshijian.com/" target="_blank">慢生活</a></span></td>
	</tr>
	<tr>
	<td><span class="friend-link"><a href="http://www.yufuwu.cn/" target="_blank">随义</a></span></td>
	<td><span class="friend-link"><a href="http://www.hoolay.cn/" target="_blank">胡来网</a></span></td>
	<td><span class="friend-link"><a href="http://www.tmeng.cn/" target="_blank">淘梦网</a></span></td>
	<td><span class="friend-link"><a href="http://www.meiwenting.com/" target="_blank">美文亭</a></span></td>
	<td><span class="friend-link"><a href="http://www.duanwenxue.com/" target="_blank">短文学</a></span></td>
	<td><span class="friend-link"><a href="http://www.ledu365.com/" target="_blank">乐读网</a></span></td>
	</tr>
	<tr>
	<td><span class="friend-link"><a href="http://www.qnwz.cn/index.html" target="_blank">青年文摘</a></span></td>
	<td><span class="friend-link"><a href="http://www.storychina.cn/" target="_blank">故事会</a></span></td>
	<td><span class="friend-link"><a href="http://www.zuoyebao.com/" target="_blank">作业宝</a></span></td>
	<td><span class="friend-link"><a href="http://www.bufuzao.com/" target="_blank">不浮躁</a></span></td>
	<td><span class="friend-link"><a href="http://www.jifenzhong.com/" target="_blank">几分钟</a></span></td>
	<td><span class="friend-link"><a href="http://www.diandian.com/" target="_blank">点点</a></span></td>
	</tr>
	<tr>
	<td><span class="friend-link"><a href="http://www.rubyonrails.org/" target="_blank">RubyonRails</a></span></td>
	<td><span class="friend-link"><a href="http://www.metro-style.cn/" target="_blank">MetroStyle</a></span></td>
	<td><span class="friend-link"><a href="https://medium.com/" target="_blank">Medium</a></span></td>
	<td><span class="friend-link"><a href="http://www.quotered.com/" target="_blank">QuoteRed</a></span></td>
	<td><span class="friend-link"><a href="http://getpocket.com/" target="_blank">Pocket</a></span></td>
	<td><span class="friend-link"><a href="https://wrapbootstrap.com/" target="_blank">Wrapbootstrap</a></span></td>
	</tr>
	<tr>
	<td><span class="friend-link"><a href="http://www.yeeyan.org/" target="_blank">译言</a></span></td>
	<td><span class="friend-link"><a href="http://9.douban.com/" target="_blank">九点</a></span></td>
	<td><span class="friend-link"><a href="http://www.36kr.com/" target="_blank">36Kr</a></span></td>
	<td><span class="friend-link"><a href="http://9.douban.com/" target="_blank">九点</a></span></td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
</table>

<div class="text-right"><a class="btn btn-info" href="/us">申请友情链接...</a></div>
