
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#rA" data-toggle="tab">标签</a></li>
    <li class=""><a href="#rC" data-toggle="tab">使用教程</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="rA">
     <% if @tags && @tags.any? %>
       <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <span class="tag badge badge-info"><%= link_to tag.name, { :controller => :site_items, :action => :tag, :id => tag.name }, :class => css_class %></span>
       <% end %>
     <%else %>
       <div class="alert alert-note">没有任何收藏，请参考“使用教程”。</div>
     <% end %>
     <%= render :partial => 'site_items/simple_form' %>
    </div>
    <div class="tab-pane" id="rC">
      <%= render file: "home/help" %>
    </div>
  </div>
</div>