// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/***side_nav***/

#side_nav{
  width: 90%;
  margin: 0 auto;
  position: fixed;
  top: 50px;
}

#side_nav .active a{
  background: #eee;
}
#side_nav{
  background-color: #eee;
}
