// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
	background-color: #fff;
  word-wrap: break-word; 
  word-break: break-all;
}

.thumbnail:hover{
	background-color: #ffccff;
}

.thumbnail img{
  height: 60px;
}
.thumbnail h4{
  height: 20px;
}
.thumbnail .text{
  height: 60px;
}