<ul class="nav nav-pills">
	<li <% unless params[:cate_id] -%>class="active" <% end -%>><a href="/">全部</a></li>
		<% current_user.site_cates.each do |item| %>
			<li <% if params[:cate_id].to_i == item.id -%>class="active" <% end -%>>
				<%= link_to item.name, "/dashboard/index?cate_id=#{item.id}" %>
			</li>
		<% end %>
    <%=render :file => "site_items/tags" %>
</ul>


 <script type="text/javascript">
 //以下代码实现了侧边栏的固定， 等价于bootstrap提供的‘附加导航’：data-spy="affix" data-offset-top="200"
//   $(window).scroll(function(){ 
//      $el = $('#side_nav'); 
//      if ($(this).scrollTop() > 100 && $el.css('position') != 'fixed'){ 
//        $('#side_nav').css({'position': 'fixed', 'top': '80px'}); 
//      }else if($(this).scrollTop() < 100 && $el.css('position') == 'fixed'){ 
//        $('#side_nav').css({'position': 'absolute', 'top': '80px'}); 
//      } 
//   }); 
 </script>