<footer>
<div class="navbar navbar-fixed-bottom">
<div class="container container-narrow">
	<div class="content">
	雨服务是一个网址收藏网站；是一个快捷方便的收藏信息管理工具。 蜀ICP备12014566号； &copy;Copy right: 2013<br>
	<div class="text-center">希望你喜欢！<br></div>
</div>
</div>
</div>
</footer>