<footer>
<div class="navbar navbar-fixed-bottom">
	<div class="container container-narrow">
		<div class="content text-center">
		 <hr>
		 蜀ICP备12014566号； &copy;2013<br>
		</div>
	</div>
</div>
</footer>